<style type="text/css">
   a {
      text-decoration:none;
   }
</style>

<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <div>
      <a class="info" href="/posts"> &emsp; Home </a>
      <a class="info" href="/news"> &emsp; News </a>
      <a class="info" href="/users/sign_in"> &emsp; Sign in </a>
      <a class="info" href="/users/sign_up"> &emsp; Sign up </a>
    </div>

   <%= stylesheet_pack_tag 'application', media: '  all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
